version: 2.1

orbs:
  slack: circleci/slack@5.1.1

parameters:
  security_scan:
    type: boolean
    default: false

jobs:
  build-and-test:
    docker:
      - image: cimg/rust:1.90
    steps:
      - checkout
      
      # Setup Docker
      - setup_remote_docker:
          docker_layer_caching: true
      
      # Restore cargo cache
      - restore_cache:
          keys:
            - cargo-{{ checksum "Cargo.lock" }}
            - cargo-
      
      # Check code compiles
      - run:
          name: Cargo check
          command: cargo check
      
      # Run clippy linter
      - run:
          name: Cargo clippy
          command: cargo clippy --all-targets --all-features -- -D warnings
      
      # Build the project in release mode
      - run:
          name: Build project (release mode)
          command: cargo build --release
      
      # Save cargo cache
      - save_cache:
          paths:
            - /home/circleci/.cargo/registry
            - /home/circleci/.cargo/git
            - target
          key: cargo-{{ checksum "Cargo.lock" }}
      
      # Install Helm
      - run:
          name: Install Helm
          command: |
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
            helm version
      
      # Run integration tests
      - run:
          name: Run integration tests
          command: cargo run --release --bin integration_tests -- --no-zip-test

  security-scan:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      
      # Setup Docker
      - setup_remote_docker:
          docker_layer_caching: true
      
      # Install grype
      - run:
          name: Install grype
          command: |
            curl -sSfL https://get.anchore.io/grype | sudo sh -s -- -b /usr/local/bin
            grype version
      
      # Make scan script executable and run it
      - run:
          name: Scan base images for security vulnerabilities
          command: |
            chmod +x baseimages/scan_security.sh
            baseimages/scan_security.sh || echo "SCAN_FAILED=1" >> $BASH_ENV
          no_output_timeout: 30m
      
      # Notify Slack on failure
      - slack/notify:
          event: fail
          mentions: '@neunhoef'
          channel: '#CircleCI Notifications'
          custom: |
            {
              "attachments": [
                {
                  "color": "danger",
                  "title": "Security Scan Failed",
                  "text": "Security scan of base images has failed. Please check the CircleCI job for details.",
                  "fields": [
                    {
                      "title": "Pipeline",
                      "value": "<< pipeline.project.name >>",
                      "short": true
                    },
                    {
                      "title": "Branch",
                      "value": "<< pipeline.git.branch >>",
                      "short": true
                    },
                    {
                      "title": "Commit",
                      "value": "<< pipeline.git.revision >>",
                      "short": false
                    },
                    {
                      "title": "Job URL",
                      "value": "<< pipeline.project.url >>/<< pipeline.number >>",
                      "short": false
                    }
                  ]
                }
              ]
            }
          webhook: ${SLACK_WEBHOOK_URL}
          when: always

workflows:
  version: 2
  build-and-test:
    when: << pipeline.parameters.security_scan >> == false
    jobs:
      - build-and-test:
          filters:
            branches:
              ignore: []  # Run on all branches
  
  security-scan-nightly:
    when: << pipeline.parameters.security_scan >>
    jobs:
      - security-scan:
          context: slack-secrets

